body {
  color: white;
  background: black;
}

#container {
  left: 20px;
  top: 20px;
  width: 600px;
  height: 600px;
  position: absolute;
  /*background: #111111;*/
}

#slidogram rect {
  fill: #0077ff;
  stroke: #009966;
}

