body {
  color: white;
  background: black;
}

#container {
  left: 20px;
  top: 20px;
  width: 600px;
  height: 600px;
  position: absolute;
}

#viz {
  stroke: blue;
  stroke-width: 5;
}

#viz polyline {
  stroke: "blue";
  stroke-width: 3;
  fill: "red";
}

